.colorpicker {
  position: relative;
  &__field {
    display: flex;
    align-items: center;
  }
  &__interface {
    position: absolute;
    z-index: 2;
    &-overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__color {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    &--active {
      box-shadow: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      border-radius: 0;
      .colorpicker__color-val {
        background-color: #fff;
      }
    }
    &-val {
      border: none;
      font-size: 10px;
      color: #777;
      width: 50px;
      background-color: transparent;
      &:hover,
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
